In [1]:
import pandas as pd
import numpy as np
import h3
import basedosdados as bd

In [2]:
# Comando para buscar os dados no BigQuery sobre as ocorrencias de alagamento
query = "SELECT o.id_pop, o.data_inicio, o.data_fim, o.latitude, o.longitude, o.gravidade  FROM `datario.adm_cor_comando.ocorrencias` as o WHERE o.id_pop in (31,5,32,6) "
proj_id = "projeto-fgv1"
alagamento_df = bd.read_sql(query, billing_project_id=proj_id)
alagamento_df.head()

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&state=o0TziiMvBJWx2plEsYvoNWOwRlvoiK&prompt=consent&access_type=offline
Downloading: 100%|██████████|

,id_pop,data_inicio,data_fim,latitude,longitude,gravidade
0,5,2020-08-22 08:34:47+00:00,2020-08-22 16:15:27+00:00,-22.796325,-43.193710,Baixo
1,5,2020-08-21 19:36:26+00:00,2020-08-22 16:26:32+00:00,-22.906847,-43.379929,Baixo
2,5,2020-08-21 20:02:27+00:00,2020-08-22 04:48:35+00:00,-22.904375,-43.243687,Baixo
3,5,2020-08-21 12:16:03+00:00,2020-08-21 17:56:20+00:00,-22.967469,-43.335766,Baixo
4,5,2020-08-22 06:55:16+00:00,2020-08-22 09:23:20+00:00,-22.979583,-43.202491,Baixo

In [31]:
res = 8 #resolucao do datagrid
alagamento_df["h3"] = alagamento_df.apply(lambda row: h3.geo_to_h3(row["latitude"],row["longitude"], res),axis=1)
alagamento_df.head()

,id_pop,data_inicio,data_fim,latitude,longitude,gravidade,h3
0,5,2020-08-22 08:34:47+00:00,2020-08-22 16:15:27+00:00,-22.796325,-43.193710,Baixo,88a8a06887fffff
1,5,2020-08-21 19:36:26+00:00,2020-08-22 16:26:32+00:00,-22.906847,-43.379929,Baixo,88a8a062bbfffff
2,5,2020-08-21 20:02:27+00:00,2020-08-22 04:48:35+00:00,-22.904375,-43.243687,Baixo,88a8a06103fffff
3,5,2020-08-21 12:16:03+00:00,2020-08-21 17:56:20+00:00,-22.967469,-43.335766,Baixo,88a8a06203fffff
4,5,2020-08-22 06:55:16+00:00,2020-08-22 09:23:20+00:00,-22.979583,-43.202491,Baixo,88a8a078cbfffff

In [13]:
alagamento_df.to_csv("csvs/alagamento7.csv",index=False)

In [32]:
h3_most_occ = alagamento_df["h3"].value_counts().index[0]
print(h3_most_occ)

h3
88754e6499fffff    335
88a8a07191fffff    146
88a8a06a41fffff    137
88a8a078ebfffff     77
88a8a078abfffff     71
                  ...
88a8a06a6bfffff      1
88a8a0628bfffff      1
88a8a0755dfffff      1
88a8a07517fffff      1
88a8a06e2bfffff      1
Name: count, Length: 560, dtype: int64

In [33]:
alagamento_df[alagamento_df['h3']==h3_most_occ]['id_pop'].value_counts()

ValueError: Can only compare identically-labeled Series objects