In [1]:
import pandas as pd
import numpy as np
import h3
import basedosdados as bd

In [2]:
# Comando para buscar os dados no BigQuery sobre as ocorrencias de alagamento
query = "SELECT o.id_pop, o.data_inicio, o.data_fim, o.latitude, o.longitude, o.gravidade  FROM `datario.adm_cor_comando.ocorrencias` as o WHERE o.id_pop in (31,5,32,6) "
proj_id = "projeto-fgv1"
alagamento_df = bd.read_sql(query, billing_project_id=proj_id)
alagamento_df.head()

Downloading: 100%|██████████|

,id_pop,data_inicio,data_fim,latitude,longitude,gravidade
0,5,2018-03-03 11:49:10+00:00,2018-03-03 13:52:13+00:00,-22.886973,-43.232282,Baixo
1,5,2018-03-03 12:54:53+00:00,2018-03-03 13:51:32+00:00,-22.875143,-43.242988,Baixo
2,5,2018-03-03 12:23:48+00:00,2018-03-03 12:40:31+00:00,-22.925682,-43.176063,Baixo
3,5,2018-03-03 12:02:10+00:00,2018-03-03 12:29:04+00:00,-22.912745,-43.220962,Baixo
4,5,2018-03-03 11:26:31+00:00,2018-03-03 11:47:54+00:00,-22.949908,-43.190535,Baixo

In [18]:
res = 7 #resolucao do datagrid
alagamento_df["h3"] = alagamento_df.apply(lambda row: h3.geo_to_h3(row["latitude"],row["longitude"], res),axis=1)
alagamento_df.head()

,id_pop,data_inicio,data_fim,latitude,longitude,gravidade,h3
0,5,2018-03-03 11:49:10+00:00,2018-03-03 13:52:13+00:00,-22.886973,-43.232282,Baixo,87a8a0613ffffff
1,5,2018-03-03 12:54:53+00:00,2018-03-03 13:51:32+00:00,-22.875143,-43.242988,Baixo,87a8a06adffffff
2,5,2018-03-03 12:23:48+00:00,2018-03-03 12:40:31+00:00,-22.925682,-43.176063,Baixo,87a8a06a4ffffff
3,5,2018-03-03 12:02:10+00:00,2018-03-03 12:29:04+00:00,-22.912745,-43.220962,Baixo,87a8a0616ffffff
4,5,2018-03-03 11:26:31+00:00,2018-03-03 11:47:54+00:00,-22.949908,-43.190535,Baixo,87a8a0788ffffff

In [19]:
alagamento_df.to_csv("csvs/alagamento7.csv",index=False)

In [20]:
h3_most_occ = alagamento_df["h3"].value_counts().index[1]
print(h3_most_occ)

87a8a0719ffffff

In [21]:
alagamento_df[alagamento_df['h3']==h3_most_occ]

,id_pop,data_inicio,data_fim,latitude,longitude,gravidade,h3
14,5,2018-03-22 14:36:40+00:00,2018-03-22 15:39:02+00:00,-23.009569,-43.295693,Baixo,87a8a0719ffffff
64,5,2020-11-20 06:48:20+00:00,2020-11-20 12:44:50+00:00,-23.004982,-43.304149,Baixo,87a8a0719ffffff
73,5,2020-11-05 13:46:11+00:00,2020-11-05 15:14:29+00:00,-23.006693,-43.310667,Baixo,87a8a0719ffffff
75,5,2020-11-05 13:42:42+00:00,2020-11-05 15:09:42+00:00,-23.003571,-43.317307,Baixo,87a8a0719ffffff
77,5,2020-11-18 21:42:00+00:00,2020-11-19 03:27:43+00:00,-23.012609,-43.299658,Baixo,87a8a0719ffffff
...,...,...,...,...,...,...,...
4506,5,2020-07-30 16:59:06+00:00,2020-07-31 09:08:04+00:00,-23.012232,-43.299637,Baixo,87a8a0719ffffff
4507,5,2020-07-31 01:50:57+00:00,2020-07-31 08:33:24+00:00,-23.006261,-43.308582,Baixo,87a8a0719ffffff
4509,5,2020-07-15 09:12:41+00:00,2020-07-15 12:07:19+00:00,-23.012911,-43.297811,Baixo,87a8a0719ffffff
4510,5,2018-06-18 05:42:15+00:00,2018-06-18 09:54:45+00:00,-22.998530,-43.304686,Baixo,87a8a0719ffffff
4511,5,2018-06-18 05:10:39+00:00,2018-06-18 09:54:53+00:00,-23.006586,-43.310764,Baixo,87a8a0719ffffff